<!DOCTYPE html>
<html>
<head>

    <title>Notepad</title>
    <link rel="stylesheet" href="/public/index.css"><!--notes will not apply due to MIME type ('text/html') is not supported-->
    <style>
        #loginContainer{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 200px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    display: none;
    }
    
    #signUpContainer{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 200px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    display: block;
    }
    
    #loginTitle, #signUpTitle{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    margin-top: 1%;
    }
    
    #login, #signUp{
    margin-left: 20%;
    margin-top: 10%;
    }
    
    #submitbtn, #submitbtn0{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 1%;
    width: fit-content;
    float: right;
    margin-right: 2%;
    margin-top: 7%;
    cursor: pointer;
    }
    
    #username,#password, #newUsername, #newPassword{
    border-radius: 4px;
    }
    
    #signupbtn {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 1%;
    width: fit-content;
    margin-top: -7%;
    transform: translate(560%,16%);
    cursor: pointer;
    }
    
    #loginbtn {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 1%;
    width: fit-content;
    margin-top: -7%;
    transform: translate(710%,16%);
    cursor: pointer;
    }
    
    #signUpTextResponce, #loginTextResponce{
    text-align:center;
    transform: translate(-10%,200%);
    margin-bottom: -6%;
    display: none;
    }
    </style>
    <script src="/public/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>


    <div id="loginContainer">
        <div id= "loginTitle">Login</div><div id="signupbtn" onclick="signUpForm()">Sign up</div>
        <form id="login" action="/login" method="POST">
        <label for ="username">Username</label>
        <input id ="username" name="username" type="text"><br><br>
        <label for ="password">Password</label>
        <input id ="password" name ="password" type="password"><br>
        <div id="loginTextResponce">Welcome Back!</div>
        <button id="submitbtn">Submit</button>
        </form>
        </div>
        
        <div id="signUpContainer">
        <div id= "signUpTitle">Sign Up</div><div id="loginbtn" onclick="loginForm()">Login</div>
        <form id="signUp" action ="/sign_up" method="POST">
        <label for ="newUsername">Username</label>
        <input id ="newUsername" type="text" name="newUsername"><br><br>
        <label for ="newPassword">Password</label>
        <input id ="newPassword" type="password" name="newPassword"><br>
        <div id="signUpTextResponce">Welcome!</div>
        <button id="submitbtn0">Submit</button>
        </form>
        </div>
        
        <script>
        
        function signUpForm(){
        document.getElementById("loginContainer").style.display ="none";
        document.getElementById("signUpContainer").style.display ="block";
        }
        
        function loginForm(){
        document.getElementById("loginContainer").style.display ="block";
        document.getElementById("signUpContainer").style.display ="none";
        }
        
        /*function signUpTextResponce(){
        document.getElementById("signUpTextResponce").style.display ="block";
        }
        
        function loginTextResponce(){
        document.getElementById("loginTextResponce").style.display ="block";
        }*/
        </script>

</body>
</html>
