<!DOCTYPE html>
<html>
<head>

    <title>Journal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
#bodyID {
    background-image: url('notebook.jpg');
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
  }
/* =================SCROLL BAR BEGIN========================== */
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
   border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(255, 255, 255, 0.5); 
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(216, 216, 216, 0.5);
    box-shadow: inset 0 0 5px grey;
  }
  /* ==================SCROLL BAR END========================= */
/* ===================NAVBAR=================================== */
#navbar{
margin: 0;
height: 50px;
background-color: rgb(0, 0, 0);
padding-top: 1%;
}

#headerGrid{
    display: grid;
    grid-template-columns: 50% 50%;
}

#buttonsGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    position:fixed;
    right:15px;
    grid-gap:0 30px;
    width: 70%;
    width: fit-content;
    height: 100px;
    margin-left: 52.5%;
}

#pageTitle{
    font-size: 200%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.homeButtons{
    font-size: 125%;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    border: 4px double white;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    width: 80px;
    padding: 5%;
    text-align:center;
    cursor: pointer;
}

.homeButtons:hover{
    background-color: rgb(60, 60, 60);
}

.dropdown{
  display:none;
}

.dropdownContent {
    display: none;
    min-width: 160px;
    width: 160px;
    height:fit-content;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    justify-self:right;
}

/*=========================CENTRAL PAGE TITLE=============================*/

#centralPageTitle{
font-size: 800%;
color: orange;
font-weight: bold;
font-style: italic;
margin-top: 10%;
margin-left: 30%;
display: block;
-webkit-text-stroke: 1px rgb(255, 255, 255);
}

/*===========================MESSAGE PROMPT===============================*/
#messageModal{
    display: block;
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#messageContainer{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: fit-content;
    background-color: rgba(0, 0, 0, .5);
    border: 5px double rgb(80, 38, 22);
    border-radius:7px;
    padding: .75%; 
}

#messageSecondaryContainer{
    background-color: rgba(107, 142, 35, .75);
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

#messageTitle{
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    color: white; 
}

#mainPageMessage{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#messageModalCloseBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    margin-left: 85%;
}

#messageModalCloseBtn:hover{
    background-color:rgb(60, 60, 60);
}


/*=========================ABOUT PROMPT BOX===============================*/
#aboutModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#aboutContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#aboutSecondaryContainer{
background-color: rgba(107, 142, 35, .75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#aboutTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: white;
}

 #aboutCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    margin-left: 85%;
  }

#aboutCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#aboutContents{
padding-left: 5%;
padding-right: 5%;
margin-top: 5%;
font-family: Arial, Helvetica, sans-serif;
color: white;
}

/*=========================SIGN UP PROMPT BOX===============================*/
#signupModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#signupFormContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#signupFormSecondaryContainer{
background-color: rgba(107, 142, 35, .75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#signupForm{
    display:grid;
}

#signupFormTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: white;
}

.formInput{
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 3%;
}

#signupBtnsGrid{
    display: grid;
    grid-template-columns: 55px 55px;
    grid-gap: 0% 5px;
    width: fit-content;
    justify-self:right;
}

#signupSubmitBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
  }
  
 #signupCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    width:55px;
  }

#signupSubmitBtn:hover, #signupCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#signupInputContents{
    justify-self:center;
    margin-top: 5%;
}

.signupFormLabel{
font-family: Arial, Helvetica, sans-serif;
color: orange;
font-weight: bold;  
}

#signupPasswordBlock{
margin-left: .5%;
}

/*=========================LOGIN PROMPT BOX===============================*/
#loginModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#loginFormContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#loginForm{
    display:grid;
}

#loginFormSecondaryContainer{
background-color: rgba(107, 142, 35, .75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#loginFormTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: white;
}

.formInput{
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 3%;
}

#loginBtnsGrid{
    display: grid;
    grid-template-columns: 55px 55px;
    grid-gap: 0% 5px;
    width: fit-content;
    justify-self:right;
}

#loginSubmitBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
  }
  
 #loginCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    width:55px;
  }

#loginSubmitBtn:hover, #loginCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#loginInputContents{
    justify-self:center;
    margin-top: 5%;
}

.loginFormLabel{
font-family: Arial, Helvetica, sans-serif;
color: orange;
font-weight: bold; 
}

#loginPasswordBlock{
margin-left: .5%;
}

/*====================MEDIA:MAX-WIDTH 1270 PX=======================*/
@media only screen and (max-width: 875px){
    #bodyID {
    background-image: url('notebook.jpg');
    background-size: 100vw 100vh;
    height:100vh;
    width:100vw;
    background-repeat: no-repeat; 
    margin: 0;
    overflow-x: hidden;
    background-color:black;
  }
      /* =================SCROLL BAR BEGIN========================== */
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
   border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(255, 255, 255, 0.5); 
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(216, 216, 216, 0.5);
    box-shadow: inset 0 0 5px grey;
  }
  /* ==================SCROLL BAR END========================= */

/* ===================NAVBAR=================================== */
#navbar{
    margin: 0;
    height: 50px;
    background-color:initial;
    padding-top: 0;
    display:grid;
    grid-template-columns:100%;
    grid-gap:0;
}

#headerGrid{
    display: grid;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    height: 50px;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(0, 0, 0);
    align-items:center;
}

#buttonsGrid{
    display: none;
    grid-template-columns: auto auto auto;
    position:fixed;
    right:15px;
    grid-gap:0 30px;
    width: 70%;
    width: fit-content;
    height: 100px;
    margin-left: 52.5%;
}

#pageTitle{
    font-size: 200%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-self:left;
}

.homeButtons{
    font-size: 125%;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    border: 4px double white;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    width: 80px;
    padding: 5%;
    text-align:center;
    cursor: pointer;
}

.homeButtons:hover{
    background-color: rgb(60, 60, 60);
}

.dropbtn {
    color: white;
    font-size: 5vh;
    width: fit-content;
    height:fit-content;
    font-family: Arial, Helvetica, sans-serif;
    border: solid white 1px;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    padding-left:10px;
    padding-right:10px;
    justify-self:right;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(60, 60, 60);
    color: white;
}

.dropdown {
    display: grid;
    justify-self:right;
    width:fit-content;
}

.dropdownContent {
    display: none;
    min-width: 160px;
    width: 160px;
    height:fit-content;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    justify-self:right;
}

.navOpt{
    padding: 4%;
    padding: 4px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: white;
    cursor: pointer;
}

.navOpt:hover{
    background-color: rgb(60, 60, 60);
}


.show {display: block;}

/*=========================CENTRAL PAGE TITLE=============================*/

#centralPageTitle{
font-size: 18vw;
color: orange;
font-weight: bold;
font-style: italic;
margin-top: 10%;
margin-left: 0%;
position:relative;
z-index:-1;
left:20vw;
display: block;
-webkit-text-stroke: 1px rgb(255, 255, 255);
}

/*===========================MESSAGE PROMPT===============================*/
#messageModal{
    display: block;
    position: fixed; 
    z-index: 1;
    padding-top: 15vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#messageContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 75vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, .5);
    border: 5px double rgb(80, 38, 22);
    border-radius:7px;
    padding: .75%; 
}

#messageSecondaryContainer{
    background-color: rgba(107, 142, 35, .75);
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

#messageTitle{
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    color: white; 
}

#mainPageMessage{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#messageModalCloseBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    margin-left: 85%;
}

#messageModalCloseBtn:hover{
    background-color:rgb(60, 60, 60);
}

/*=========================ABOUT PROMPT BOX===============================*/
#aboutModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 15vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#aboutContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 75vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, .5);
    border: 5px double rgb(80, 38, 22);
    border-radius:7px;
    padding: .75%;
}

#aboutSecondaryContainer{
    background-color: rgba(107, 142, 35, .75);
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

#aboutTitle{
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    color: white;
}

#aboutCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
    text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    margin-left: 85%;
}

#aboutCloseButton:hover {
    background-color:rgb(60, 60, 60);
}
  
#aboutContents{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*=========================SIGN UP PROMPT BOX===============================*/
#signupModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 15vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#signupFormContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 75vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, .5);
    border: 5px double rgb(80, 38, 22);
    border-radius:7px;
    padding: .75%;
}

#signupFormSecondaryContainer{
    background-color: rgba(107, 142, 35, .75);
    margin-left: initial;
    margin-right: initial;
    padding: 2%;
    display: flex;
    justify-content:center;
    flex-direction:column;
}

#signupForm{
    display:grid;
}

#signupFormTitle{
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    color: white;
}

.formInput{
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 3%;
}

#signupBtnsGrid{
    display: grid;
    grid-template-columns: 55px 55px;
    grid-gap: 0% 5px;
    width: fit-content;
    margin-left: initial;
    justify-self:right;
}

#signupSubmitBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    width:fit-content;
}
  
 #signupCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    width:55px;
}

#signupSubmitBtn:hover, #signupCloseButton:hover {
    background-color:rgb(60, 60, 60);
}
  
#signupInputContents{
    justify-self:center;
    margin-top: 5%;
}

.signupFormLabel{
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    font-weight: bold;  
}

#signupPasswordBlock{
    margin-left: .5%;
}

/*=========================LOGIN PROMPT BOX===============================*/
#loginModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 15vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#loginFormContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 75vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, .5);
    border: 5px double rgb(80, 38, 22);
    border-radius:7px;
    padding: .75%;
}

#loginForm{
    display:grid;
}

#loginFormSecondaryContainer{
background-color: rgba(107, 142, 35, .75);
margin-left: auto;
margin-right: auto;
padding: 2%;
display: flex;
justify-content:center;
flex-direction:column;
}

#loginFormTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: white;
}

.formInput{
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 3%;
}

#loginBtnsGrid{
    display: grid;
    grid-template-columns: 55px 55px;
    grid-gap: 0% 5px;
    width: fit-content;
    margin-left: initial;
    justify-self:right;
}

#loginSubmitBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    width:fit-content;
  }
  
 #loginCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    width:55px;
  }

#loginSubmitBtn:hover, #loginCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#loginInputContents{
    justify-self:center;
    margin-top: 5%;
}

.loginFormLabel{
font-family: Arial, Helvetica, sans-serif;
color: orange;
font-weight: bold; 
}

#loginPasswordBlock{
margin-left: .5%;
}
}/*=========end of MEDIA:MAX-WIDTH 1270 PX=========*/
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="bodyID">

<!--=======================NAVBAR==================================================-->
<div id="navbar">
    <div id="headerGrid">
        <div id="pageTitle">Home</div>
        <div id="buttonsGrid">
            <div id="aboutBtn" class="homeButtons" onclick="aboutPromptBox()">About</div>
            <div id="signUpBtn" class="homeButtons" onclick="signupPromptBox()">Sign Up</div>
            <div id="loginBtn" class="homeButtons" onclick="loginPromptBox()">Login</div>
        </div><!--end of id="buttonsGrid"-->
        <div class="dropdown">
            <div onclick="dropDownNav()" class="dropbtn">&equiv;</div>
        </div><!--end of class="dropdown"-->
    </div><!--end of id="headerGrid"-->
    <div id="buttonsDropDown" class="dropdownContent">
        <div id="aboutBtnDD" class="navOpt" onclick="aboutPromptBox()">About</div>
        <div id="signUpBtnDD" class="navOpt" onclick="signupPromptBox()">Sign Up</div>
        <div id="loginBtnDD" class="navOpt" onclick="loginPromptBox()">Log In</div>
    </div><!--end of id="buttonsDropDown"-->
</div><!--end of id="navbar"-->

<!--========================CENTRAL PAGE TITLE======================================-->
<div id="centralPageTitle">
    Journal
</div>

<!--=======================MESSAGE PROPMT===============================================-->
<% if(message.length > 0) { %>
    <div id="messageModal">
        <div id="messageContainer">
            <div id="messageSecondaryContainer">
                <div id="messageTitle"><%=messageTitle%></div>
                <div id="mainPageMessage"><%=message %></div>
                <div id="messageModalCloseBtn" onclick="messageModalCloseBtn()">Close</div>
            </div><!--end of id="messageSecondaryContainer"-->
        </div><!--end of id="messageContainer"-->
    </div><!--end of  id="messageModal"-->
<% } %>

<!--=======================ABOUT===============================================-->
<div id="aboutModal">
    <div id="aboutContainer">
        <div id="aboutSecondaryContainer">
            <div id="aboutTitle">About</div>
            <div id="aboutContents">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Do you journal? Are you a writer working on your next script?<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: orange; font-weight: bold; font-style: italic;">Journal</span> provides its users with the ability to prepare documents with backdrops of their choice. This service is currently free to the public.<br><br> Enjoy!<br><br><span style="font-style: italic">-Admin (Allyse D. Johnson)</span>
            </div>
            <div id="aboutCloseButton" onclick="closeabout()">Close</div>
        </div><!--end of id="aboutSecondaryContainer-->
    </div><!--end of id="aboutContainer"-->
</div><!--end of id="aboutModal"-->

<!--========================SIGN UP PROMPT BOX===========================================-->        

<div id="signupModal">
    <div id="signupFormContainer">
        <div id="signupFormSecondaryContainer">
            <div id="signupFormTitle">Sign Up</div>
            <form id="signupForm" action ="/sign_up" method="POST">
                <div id="signupInputContents">
                    <label for="newUsername" class="signupFormLabel">Username: </label>
                    <input class="formInput" type="text" id="newUsername" name="newUsername"><br>
                    <div id="signupPasswordBlock">
                        <label for="newPassword" class="signupFormLabel">Password: </label>
                        <input class="formInput" type="password" id="newPassword" name="newPassword">
                    </div><!--end of id="signupPasswordBlock"-->
                </div><!--end of id="signupInputContents" -->
                <br>
                <div id="signupBtnsGrid">
                    <button id="signupSubmitBtn">Submit</button><div id="signupCloseButton" onclick="closesignup()">Close</div>
                </div><!--end of id="signupBtnsGrid"-->
            </form><!--end of id="signupForm"-->
        </div><!--end of id="signupFormSecondaryContainer-->
    </div><!--end of id="signupFormContainer"-->
</div><!--end of id="signupModal"-->

<!--========================LOGIN PROMPT BOX===========================================-->

        <div id="loginModal">
            <div id="loginFormContainer">
                <div id="loginFormSecondaryContainer">
                    <div id="loginFormTitle">Login</div>
                    <form id="loginForm" action="/login" method="POST">
                        <div id="loginInputContents">
                            <label for="username" class="loginFormLabel">Username: </label>
                            <input class="formInput" type="text" id="username" name="username"><br>
                            <div id="loginPasswordBlock">
                                <label for="password" class="loginFormLabel">Password: </label>
                                <input class="formInput" type="password" id="password" name="password">
                            </div><!--end of id="loginPasswordBlock"-->
                        </div><!--end of id="loginInputContents" -->
                        <br>
                        <div id="loginBtnsGrid">
                            <button id="loginSubmitBtn">Submit</button><div id="loginCloseButton" onclick="closelogin()">Close</div>
                        </div><!--end of id="loginBtnsGrid"-->
                    </form><!--end of id="loginForm"-->
                </div><!--end of id="loginFormSecondaryContainer-->
            </div><!--end of id="loginFormContainer"-->
        </div><!--end of id="loginModal"-->

<!--========================ALL JAVASCRIPT FUNCTIONS BELOW===========================================-->
<script>
//=======================MESSAGE PROMPT===============================================//
//Close Message Prompt 
function messageModalCloseBtn(){
    document.getElementById("messageModal").style.display ="none";
}//end of messageModalCloseBtn()

//==========================NAVBAR===================================================//
function dropDownNav() {
  document.getElementById("buttonsDropDown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdownContent");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

//==========================ABOUT PROMPT BOX====================================//
//display about prompt box-------------------------------------------------------------
function aboutPromptBox(){
    document.getElementById("aboutModal").style.display ="flex";
}//end of aboutPromptBox()

//close about prompt box-------------------------------------------------------------
function closeabout(){
    document.getElementById("aboutModal").style.display ="none";
}//end of closeabout()
//==========================SIGN UP PROMPT BOX===================================//
//display signup prompt box-------------------------------------------------------------
function signupPromptBox(){
    document.getElementById("signupModal").style.display ="flex";
    document.getElementById("newUsername").value ="";
    document.getElementById("newPassword").value ="";
}//end of signupPromptBox()

//close signup prompt box-------------------------------------------------------------
function closesignup(){
    document.getElementById("signupModal").style.display ="none";
}//end of closesignup()

//===========================LOGIN PROMPT BOX====================================//
//display login prompt box-------------------------------------------------------------
function loginPromptBox(){
    document.getElementById("loginModal").style.display ="flex";
    document.getElementById("username").value ="";
    document.getElementById("password").value ="";
}//end of loginPromptBox()

//close login prompt box-------------------------------------------------------------
function closelogin(){
    document.getElementById("loginModal").style.display ="none";
}//end of closelogin()
</script>

</body>
</html>
